#phraseDiv{
  background-color:rgba(0,0,0,0) !important;
  border-color:black;
  float: center;
  overflow: auto;
  max-height: 30vh;
  vertical-align: bottom;
  text-align: bottom;
  
  
}
#responseTextArea{margin-top:2vh;
    background-color:rgba(0,0,0,0) !important;
  border-color:black;
  position: absolute;
  margin-top: 10vh;
  overflow: auto;
  max-height: 30vh;
  vertical-align: bottom;
  text-align: bottom;
}

#filePicker{
    background-color:rgba(0,0,0,0) !important;
    border-color:black;
}

input[type="file"] {
    display: none;
    
}

.input-group {
    float: left;
}


#imageDiv{
    position: absolute;
    right:0;
    left: 0;
    height: 20vh;
    text-align: center;
    background-color: black;
    
}
#inputImage{
    width: 13vw;
}
#readImg {
    
    
}
#downloadBtn2 {
    float: right;
}

#sourceImage {
    position: absolute;
    margin-right:auto;
    margin-left: auto;
    padding-top:1vh;
    
    
    
   
}

#tmp {
    height:2vh;
}

#fix{
    margin-top: 30vh;
}
img {
    max-width: 100%;
    height: auto;
}