#phraseDiv{
  background-color:rgba(0,0,0,0) !important;
  border-color:black;
  float: center;
  overflow: auto;
  max-height: 25vh;
  vertical-align: bottom;
  text-align: bottom;
  margin-top: 3vh;
  margin-bottom: 2vh;
  max-width: 60vw;
  
}
#responseTextArea{
    background-color:rgba(0,0,0,0) !important;
  border-color:black;
  float: left;
  
  overflow: auto;
  height: 30vh;
  
}

#filePicker{
    background-color:rgba(0,0,0,0) !important;
    border-color:black;
}

input[type="file"] {
    display: none;
    
}


#divImage{
    float: right;
    clear: right;
}

    
}
#sourceImage{
    width: 100px;
}



#downloadBtn2 {
    float: left;
}

.card {
   
    width: 14vw;
    margin: 4vw;
}
